*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}
body {
    background-color: #001;
    display: flex;
}
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.menu{
    background-color: #123;
    width: 55px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .5s;
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
    
}
ul li a:hover , .active{
    background-color: #ffffff55;
}
.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logout a{
    background-color: #a00;
}
ul li a i{
    font-size: 30px;
}
.content{
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box{
    background-color: #123;
    padding: 20px;
    border-radius: 8px;
    flex-grow: 1;
    flex-basis: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .5s;
    cursor: pointer;
    justify-content: space-around;
    &:hover{
        background-color: #0481ff;
    }
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data-info .box .data span{
    font-size: 30px;
    font-weight: 500;
}
.data-info .box .data p{
    font-size: 14px;
    color: #aaa;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}
th,td{
    padding: 10px;
    background-color: #123;
    color: white;
    border-radius: 8px;
}
th{
    background-color: rgb(0, 128, 255);
    font-weight: 500;
}
td:hover{
    background-color: #0481ff;
    cursor: pointer;
}
@media (max-width: 768px){
    .menu{
        width: 100%;
        height: auto;
    }
    .menu:hover{
        width: 100%;
    }
    .content{
        margin: 0;
    }
    .data-info .box{
        flex-basis: 100%;
    }
}
.price,
.count{
    padding: 6px;
    border-radius: 8px;
}
.price{
    background-color: #0481ff;
    color: white;
}
.count{
    background-color: #a00;
    color: white;
}